<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div>
        <div class="banner">
            <p>Free shipping in Greece for Wild orders over 50 euros!</p>
        </div>
        <div class="header">
            <div class="nav">
                <ul class="left">
                    <li>Products</li>
                    <li>Who we are</li>
                    <li>Concept store</li>
                </ul>
                <ul class="right">
                    <li>Recipes</li>
                    <li>Log in</li>
                    <li>Cart (0)</li>
                </ul>
            </div>
            <p id="lang">en</p>
        </div>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <footer></footer>
    </div>
</body>

</html>